<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <a href="{% static 'Core/css/styles.css'%}"></a>
</head>
<body>
    <ul>
        <li><a href="/index">index </a></li>
        <li><a href="\MiProyecto\Core\Templates\Core\nosotros.html">nosotros </a></li>
        <li><a href="/home">home </a></li>   
        <li><a href="/contacto">contacto</a></li>
    </ul>
    
    {%block content %}{% endblock %}


    

</body>
</html>