{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vandall Catalogo</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <link rel="icon" href="{% static 'core/img/logoweb.png' %}">
    
</head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="index.html">
                    <img src="D:\Django-Project\Core\static\Core\img/vandall.png">
                </a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="D:\Django-Project\Core\static\Core\img/barras.svg" alt="Icono Menu">
                    </a>
                </div>

                <nav id="navegacion" class="navegacion">
                    <a href="nosotros.html">Nosotros</a>
                    <a href="catalogo.html">Catalogo</a>
                    <a href="novedades.html">Novedades</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
            </div>
        </div>
    </header>

<!--INICIO CATALOGO-->

    <main class="seccion contenedor">
        <h1 class="fw-300 centrar-texto">Catalogo de Vehiculos</h1>

        <div class="contenedor-catalogo">
            <div class="catalogo">
                <img src="{% static 'core\img\ventajeep.png' %} ">
                <div class="contenido-catalogo">
                    <p></p>
                    
                    <h3>JEEP Willys</h3>
                    <p>El Jeep Willys. Un vehículo versátil hecho en base a un tractor multifuncional de no más de 1000 Kg, el cual hacía labores de transporte, exploración y rescate.</p>
                    <p class="precio">$10.000.000</p>

                    <ul class="icono-stock">
                        <li>
                            <img src="D:\Django-Project\Core\static\core\img/stock.png">
                        </li>
                    </ul>
                    <a href="reserva.html" class="boton boton-naranja d-block">Reservar</a>
                </div>
            </div>

            <div class="catalogo">
                <img src="{% static 'core\img\ventaauto.webp' %} " >
                <div class="contenido-catalogo">
                    <h3>Audi R8</h3>
                    <p>Prácticamente A Diferencia De Cualquier Otro Deportivo, Proporciona Una Sensación De Control Sobre Una Potencia Casi Ilimitada.</p>
                    <p class="precio">$30.000.000</p>
                    <ul class="icono-stock">
                        <li>
                            <img src="D:\Django-Project\Core\static\core\img/stock.png" >
                        </li>
                    </ul>

                    <a href="reserva.html" class="boton boton-naranja d-block">Reservar</a>
                </div>
            </div>

            <div class="catalogo">
                <img src="D:\Django-Project\Core\static\core\imgimg/CityCar1.png">
                <div class="contenido-catalogo">
                    <h3>Audi Q3</h3>
                    <p>El nuevo Audi Q3 2019 ha crecido aumentado su tamaño respecto a su predecesor.</p>
                    <p class="precio">$3.000.000</p>
                    <ul class="icono-stock">
                        <li>
                            <img src="D:\Django-Project\Core\static\core\img/stock.png">
                        </li>
                    </ul>

                    <a href="reserva.html" class="boton boton-naranja d-block">Reservar</a>
                </div>
            </div>

            <div class="catalogo">
                <img src="D:\Django-Project\Core\static\core\img/citycar.png">
                <div class="contenido-catalogo">
                    <h3>Chevrolet Spark GT</h3>
                    <p>Refleja lo que quieras expresar. Con su increíble diseño exterioriza todas tus ideas. Siempre que está en movimiento, Chevrolet Spark GT, Spark GT, más que un City car, un auto para que las etiquetas no te pongan límites </p>
                    <br>
                    <p class="precio">$1.000.000</p>
                    <ul class="icono-stock">
                        <li>
                            <img src="D:\Django-Project\Core\static\core\img/stock.png">
                        </li>
                    </ul>

                    <a href="reserva.html" class="boton boton-naranja d-block">Reservar</a>
                </div>
            </div>
        
            <div class="catalogo">
                <img src="D:\Django-Project\Core\static\core\imgimg/lambo.png">
                <div class="contenido-catalogo">
                    <h3>Lamborghini Gallardo</h3>
                    <p>Modelo superdeportivo del fabricante italiano de autos de lujo Lamborghini, 10 CV más potente y que cuenta con una cura de adelgazamiento que permite rebajar el peso en 70 kilogramos.</p>
                    <p class="precio">$105.000.000</p>
                    <ul class="icono-stock">
                        <li>
                            <img src="D:\Django-Project\Core\static\core\img/stock.png">
                        </li>
                    </ul>

                    <a href="reserva.html" class="boton boton-naranja d-block">Reservar</a>
                </div>
            </div> 

            <div class="catalogo">
                <br>
                <img src="D:\Django-Project\Core\static\core\img/camaro1.png">
                <div class="contenido-catalogo">
                    <h3>Chevrolet Camaro</h3>
                    <p>El nuevo Chevrolet Camaro 2019 fue rediseñado de principio a fin. Su línea ha evolucionado para verse aún mas estilizada, pero eso no es todo, incluye tecnología, performance y un manejo superior. Aceléralo hasta el fondo y descubre lo que significa la adrenalina</p>
                    <p class="precio">$25.000.000</p>
                    <ul class="icono-stock">
                        <li>
                            <img src="D:\Django-Project\Core\static\core\img/stock.png">
                        </li>
                    </ul>

                    <a href="reserva.html" class="boton boton-naranja d-block">Reservar</a>
                </div>
            </div> 

            
            <div class="catalogo">
                <br>
                <img src="D:\Django-Project\Core\static\core\img/CITROEN-DS3.png">
                <div class="contenido-catalogo">
                    <h3>Citroen DS3</h3>
                    <p>Ya hemos analizado a conciencia el aspecto tanto exterior como interior del Citroën DS3, lo hemos puesto a prueba en carreteras de curvas así como en ciudad y hemos echado también un vistazo a las posibilidades que ofrece a la hora de equiparlo</p>
                    <p class="precio">$12.000.000</p>
                    <ul class="icono-stock">
                        <li>
                            <img src="D:\Django-Project\Core\static\core\img/stock.png">
                        </li>
                    </ul>

                    <a href="reserva.html" class="boton boton-naranja d-block">Reservar</a>
                </div>
            </div> 


            <div class="catalogo">
                    <br>
                    <img src="img/NISSANSENTRA.png">
                    <div class="contenido-catalogo">
                        <h3>Nissan Sentra 2019</h3>
                        <p>Con un nombre de vasta trayectoria, el Nissan Sentra actual es un sedán de 4.6 metros con un maletero de sobre 500 litros, impulsado por un motor de 1.8 litros con 129 Hp, aunado a transmisiones 6MT o X-Tronic CVT</p>
                        <p class="precio">$29.000.000</p>
                        <ul class="icono-stock">
                            <li>
                                <img src="D:\Django-Project\Core\static\core\img/stock.png">
                            </li>
                        </ul>
    
                        <a href="reserva.html" class="boton boton-naranja d-block">Reservar</a>
                    </div>
            </div> 


                <div class="catalogo">
                        <br>
                        <img src="img/MUSTANG.png">
                        <div class="contenido-catalogo">
                            <h3>Ford Mustang 2019</h3>
                            <p>En el origen de todo, el Mustang se trata de desempeño. Con un potente motor en cada Mustang, podrás hacer que sea más emocionante. Y cuando no es el momento adecuado para la euforia, está el detalle del escape con modo Arranque Silencioso.</p>
                            <p class="precio">$28.000.000</p>
                            <ul class="icono-stock">
                                <li>
                                    <img src="D:\Django-Project\Core\static\core\img/stock.png">
                                </li>
                            </ul>
        
                            <a href="reserva.html" class="boton boton-naranja d-block">Reservar</a>
                        </div>
                </div>          
        </div>  

        <div class="social-bar">
                <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"><img src="D:\Django-Project\Core\static\core\img/Facebook.png"></a>
                <a href="https://twitter.com" class="icon icon-twitter" target="_blank"><img src="D:\Django-Project\Core\static\core\img/Twitter.png"></a>
                <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"><img src="D:\Django-Project\Core\static\core\img/YouTube.png"></a>
                <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"><img src="D:\Django-Project\Core\static\core\img/Instagram.png"></a>
        </div>
    </main>

<!--FIN DEL CATALOGO-->
    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="catalogo.html">Catalogo</a>
                <a href="novedades.html">Novedades</a>
                <a href="contacto.html">Contacto</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2019 &copy; </p>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
