<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vandall Contacto</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="D:\Django-Project\Core\static\core\css\normalize.css">
    <link rel="stylesheet" href="D:\Django-Project\Core\static\core\css\styles.css">
    <link rel="icon" href="D:\Django-Project\Core\static\core\img/logoweb.png">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
</head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="index.html">
                    <img src="D:\Django-Project\Core\static\core\img\vandall.png" alt="Logo Vandall">
                </a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="img/barras.svg" alt="Icono Menu">
                    </a>
                </div>

                <nav id="navegacion" class="navegacion">
                    <a href="nosotros.html">Nosotros</a>
                    <a href="catalogo.html">Catalogo</a>
                    <a href="novedades.html">Novedades</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
            </div>
        </div> 
    </header>
    
    <section class="seccion contacto">
            <h2 class="fw-300 centrar-texto">Contacto</h2>
    
            <div class="iconos-contacto">
                <div class="icononos">
                    <img src="D:\Django-Project\Core\static\core\img/telefono.png" alt="Icono Seguridad">
                </div>
    
                <div class="icononos">
                    <img src="D:\Django-Project\Core\static\core\img/correo.png" alt="Icono Mejor Precio">
                </div>
    
                <div class="icononos">
                    <img src="D:\Django-Project\Core\static\core\img/calendario.png" alt="Icono a Tiempo">
                </div>
            </div>
        </section>
    <main class="contenedor seccion contenido-centrado">
        <h2 class="fw-300 centrar-texto">Llena el formulario de Contacto</h2>

        <form class="contacto" action="">
            <fieldset>
                <legend>Formulario</legend>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" placeholder="Tu Nombre">
                <label for="Rut">Rut: </label>
                <input type="number" id="RUT" placeholder="Ingresa tu RUT" required>
                <label for="email">E-mail: </label>
                <input type="email" id="email" placeholder="Tu Correo electrónico" required>
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" placeholder="Tu Teléfono" required>
                <label for="mensaje">Mensaje: </label>
                <textarea  id="mensaje"></textarea>
                <legend>Información sobre Vehiculo</legend>
                <label for="opciones">Comprar o Vender Parte de pago</label>
                <select id="opciones">
                    <option value="" disabled selected>Seleccione</option>
                    <option value="Compra">Compra</option>
                    <option value="Vende">Vender Parte de pago</option>
                </select>
                <label for="Modelo">Modelo Vehiculo:</label>
                <input type="text" id="Modelo" placeholder="Modelo Vehiculo que desea comprar" required>
                <p>Si eligió dar vehiculo en parte de pago, indique su modelo</p>
                <label for="Modelo">Modelo Vehiculo en parte de pago:</label>
                <input type="text" id="Modelo" placeholder="Modelo Vehiculo que desea dar en parte de pago">
                <legend>Contacto</legend>
                <p>Como desea ser Contactado:</p>
                <div class="forma-contacto">
                    <label for="telefono">Teléfono</label>
                    <input type="radio" name="contacto" value="telefono" id="telefono">

                    <label for="correo">E-mail</label>
                    <input type="radio" name="contacto" value="correo" id="correo">
                </div>
                <p>Si eligió Telefono, elija la fecha y la hora</p>
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha">

                <label for="hora">Hora:</label>
                <input type="time" id="hora" min="09:00" max="18:00">
            </fieldset>

            <input type="submit" value="Enviar" class="boton boton-naranja d-block">

            <br>

            <h2 class="fw-300 centrar-texto">Visita nuestra tienda</h2>

            
            <!--MAPA-->
            <div id="map"></div>
            <!--FIN MAPA-->

            <div class="social-bar">
                    <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"><img src="D:\Django-Project\Core\static\core\img/Facebook.png"></a>
                    <a href="https://twitter.com" class="icon icon-twitter" target="_blank"><img src="D:\Django-Project\Core\static\core\img/Twitter.png"></a>
                    <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"><img src="D:\Django-Project\Core\static\core\img/YouTube.png"></a>
                    <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"><img src="D:\Django-Project\Core\static\core\img/Instagram.png"></a>
            </div>
        </form>
    </main>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="catalogo.html">Catalogo</a>
                <a href="novedades.html">Novedades</a>
                <a href="contacto.html">Contacto</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2019 &copy; </p>
        </div>
    </footer>

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>