<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vandall E3</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/logoweb.png">
</head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="index.html">
                    <img src="img/vandall.png" alt="Logo Vandall">
                </a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="img/barras.svg" alt="Icono Menu">
                    </a>
                </div>

                <nav id="navegacion" class="navegacion">
                    <a href="nosotros.html">Nosotros</a>
                    <a href="catalogo.html">Catalogo</a>
                    <a href="novedades.html">Novedades</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
            </div>
        </div> <!-- contenedor -->
    </header>

    <h1 class="fw-300 centrar-texto">Las mejores carreteras de Chile</h1>

    
    
   

    <main class="contenedor seccion contenido-centrado texto-entrada">
        <p>Escrito el: <span> 27/10/2019 </span> por: <span> Ignacio Cisternas </span> </p>

        <p>Un largo y extenso territorio compuesto por diversos paisajes hacen de Chile uno de los países más extravagantes del mundo. Su naturaleza indómita y la hospitalidad de la gente que recibe a los turistas con los brazos abiertos, hacen de este país un destino atractivo para visitarlo en todas las épocas del año. Toma nota y conoce las rutas para viajar por Chile y conocer de cerca su cultura, patrimonio y paisajes.</p>
        <div class="imagen">
            <img src="img/carretera.jpg" alt="Imagen Principal">
        </div>
        <p>as playas del Desierto de Atacama como Bahía Inglesa, playa La Virgen, el Parque Nacional Pan de Azúcar y la ruta que une Caldera con el Puerto de Huasco son uno de los paisajes playeros que encontrarás en el desierto más árido del mundo.

            Más al norte del país se encuentran las hermosas ciudades de Iquique y Arica, con playas para los fanáticos del deporte aventura y, sobre todo, para quienes practican surf. La vida urbana de ambas ciudades las convierten en un punto de encuentro para turistas que llegan de todas partes del mundo para disfrutar de la gastronomía local, de sus fiestas tradicionales y de la historia que envuelve a ambas ciudades: la Guerra del Pacífico y la historia salitrera de Chile.
            
            Otras playas que se caracterizan por su belleza y aguas claras son Bahía Inglesa y Playa La Virgen, donde los visitantes prefieren pasar sus días de vacaciones para desconectarse y descansar frente al mar.
            
            Otra imperdible de las rutas para viajar por Chile son las caletas de pescadores, donde no sólo se realiza actividad pesquera, sino también se puede navegar para conocer la fauna marina de la región. Este es el caso de Chañaral de Aceituno o de Caleta de Choros, desde donde se puede conocer la Reserva Nacional Pingüino de Humboldt, sus delfines, ballenas y pingüinos.</p>


        <div class="imagen">
            <img src="img/Carretera-Austral-cartel.jpg" alt="Entrada de novedades">
        </div>
        <p>La zona central de Chile se caracteriza por sus valles que producen vinos de calidad mundial. Desde el Valle del Elqui hasta el Valle del Itata, existe una gran cantidad de viñas que albergan parte de la historia cultural y tradicional de Chile.

            Desde Santiago puedes acceder por el día al Valle de Casablanca, Valle de Colchagua, Valle de Maipo, Valle de Cachapoal, Valle de Aconcagua, entre otros, donde puedes recorrer los viñedos en bicicleta o cabalgatas para conocer la historia del vino Chileno.
            
            Dato curioso: fue en la zona central del país se logró revivir la cepa del Carménère, semilla que se había extinguido en Francia producto de la plaga de la filoxera. Inmigrantes europeos emigraron a Chile en 1850 y trajeron la cepa consigo, dando sabrosos frutos que se descubrieron más de 150 años después.
            
            Ven a disfrutar de una rica degustación de vinos, sabores y olores en los once valles vitivinícolas que ofrece la zona central de nuestro país, una de las rutas para viajar por Chile que no te puedes perder.
            
             </p>
        
        <div class="imagen">
           <img src="img/carretera2.jpg">
        </div>


        <p>Iniciar un viaje desde Puerto Montt al sur es una experiencia inigualable. Este camino de más de 1.200 kilómetros une la zona sur de lagos y volcanes con la parte más austral de Chile, conocida como la Patagonia.

            La Carretera Austral se caracteriza por su frondosa vegetación, interrumpida por ríos y lagos, dando vida a una geografía que no se repite en ninguna región de Chile. Bosques siempre verdes al oeste, y la pampa por el este, lo convierten en uno de los destinos más silvestres del continente. En Aysén te deslumbrarás con los enormes glaciares que forman parte de Campos de Hielo Norte y Campos de Hielo Sur.
            
            La Carretera Austral es una de las mejores rutas para conocer Chile. Te recomendamos arrendar un jeep 4×4 y manejarlo tú mismo para que puedas detenerte cuando quieras. Dentro de los destinos más visitados está el Parque Nacional Queulat, Coyhaique, Lago General Carrera, Parque Patagonia y Caleta Tortel en el tramo final de la Carretera Austral.
            
            Si te gusta el turismo de aventura, la Región de Aysén en la Patagonia chilena, ofrece todo tipo de actividades como el rafting, kayak, montañismo, trekking, mountainbike y caminatas sobre hielo.</p>

        <br>

        <div class="social-bar">
                <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"><img src="img/Facebook.png"></a>
                <a href="https://twitter.com" class="icon icon-twitter" target="_blank"><img src="img/Twitter.png"></a>
                <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"><img src="img/YouTube.png"></a>
                <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"><img src="img/Instagram.png"></a>
        </div>

    </main>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="catalogo.html">Catalogo</a>
                <a href="novedades.html">Novedades</a>
                <a href="contacto.html">Contacto</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2019 &copy; </p>
        </div>
    </footer>
</body>
</html>