<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vandall E1</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/logoweb.png">
</head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="index.html">
                    <img src="img/vandall.png" alt="Logo Vandall">
                </a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="img/barras.svg" alt="Icono Menu">
                    </a>
                </div>

                <nav id="navegacion" class="navegacion">
                    <a href="nosotros.html">Nosotros</a>
                    <a href="catalogo.html">Catalogo</a>
                    <a href="novedades.html">Novedades</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
            </div>
        </div> <!-- contenedor -->
    </header>
    

    <main class="contenedor seccion contenido-centrado texto-entrada">
        <h1 class="fw-300 centrar-texto">La nueva apuesta de energía eléctrica de “Ds automobiles" la empresa francesa que apunta a las nuevas energías en el mundo del automóvil.</h1>

        <p>Escrito el: <span> 26/08/2019 </span> por: <span> Vicente Amigo </span> </p>

        <p>E-TENSE será el apellido que tendrán todos los vehículos electrificados de DS Automobiles, la marca premium del Grupo PSA, que ha anunciado un proceso de transición energética hacia la electrificación total de su gama, con versiones eléctricas o híbridas enchufables en toda su gama hasta 2025, fecha a partir de la cual no producirá más vehículos con motores a combustión.</p>

        <p>El DS 3 Crossback E-TENSE es el primer SUV 100% eléctrico del segmento B premium. Cuenta con un tren motriz compuesto por un motor de 100 kW (136 Hp) y 260 Nm de par, alimentado por una batería de iones de litio de 50 kWh, ofreciendo hasta 320 kilómetros de autonomía con una carga.</p>

        <div class="imagen">
            <img src="img/ds 3 crossback.jpg" alt="Entrada de novedades">
        </div>
        <p>La batería es compacta y está ubicada en el centro y bajo el suelo. La marca indica que el peso extra que genera se compensa parcialmente con un ahorro de 50 kilos en otros componentes, si se compara con un DS 3 Crossback normal.</p>

        <br>

        <p>El concept car DS E-Tense que debutará en el Salón de Ginebra es un cupé biplaza eléctrico de 402 CV que celebra el segundo año de DS como marca en el seno del grupo PSA. Con este concept car DS quiere afianzar su imagen de fabricante premium al mismo tiempo que nos recuerda que compite en la Formula E.</p>

        <div class="imagen">
            <img src="img/ds e tense wallpaperr.jpg" alt="Imagen Sobre Nosotros">
        </div>


        <p>El DS E-Tense mide 4,72 m de largo, 2,08 m de ancho y tan sólo 1,29 m de alto. Su diseño, compuesto por líneas fluidas sin apenas tensión (a pesar de su nombre) recupera elementos del Divine DS del año pasado y comparte rasgos con sus predecesores, como la ausencia de luna trasera.</p>

        <p>Nos cuentan, además, que posee una autonomía de 310 km (o 360 km en ciclo urbano) para una potencia total de 402 CV y un par máximo de 516 Nm. Así, el DS-Etense aceleraría de 0 a 100 km/h en 4,5 segundos y alcanzaría una velocidad máxima de 250 km/h. Nada mal para un coche que pesa 1.8 toneladas.</p>

        <br>

        <div class="social-bar">
                <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"><img src="img/Facebook.png"></a>
                <a href="https://twitter.com" class="icon icon-twitter" target="_blank"><img src="img/Twitter.png"></a>
                <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"><img src="img/YouTube.png"></a>
                <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"><img src="img/Instagram.png"></a>
        </div>

    </main>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="catalogo.html">Catalogo</a>
                <a href="novedades.html">Novedades</a>
                <a href="contacto.html">Contacto</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2019 &copy; </p>
        </div>
    </footer>
</body>
</html>