<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vandall Reserva</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/logoweb.png">
</head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="index.html">
                    <img src="img/vandall.png" alt="Logo Vandall">
                </a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="img/barras.svg" alt="Icono Menu">
                    </a>
                </div>

                <nav id="navegacion" class="navegacion">
                    <a href="nosotros.html">Nosotros</a>
                    <a href="catalogo.html">Catalogo</a>
                    <a href="novedades.html">Novedades</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
            </div>
        </div> <!-- contenedor -->
    </header>

    <h1 class="fw-300 centrar-texto">Reserva de Vehiculos</h1>
    <main class="contenedor seccion contenido-centrado">
        <h7>A.- PROCESO DE COTIZACIÓN</h7>
        <p>El procedimiento para reservas se inicia con una solicitud escrita via correo electrónico o wasap
        institucional, donde debe indicarse una fecha en consulta, señalando dia de entrada y salida,
        numero de noches y capacidad de acogida requerida (n° de personas), la cual es respondida
        dentro de un plazo máximo de 48 hrs (excepto cuando existen problemas de conectividad en la
        zona).
        La consulta es respondida por el mismo medio, confirmando disponibilidad de fechas,
        habitaciones y programas promocionales vigentes, otorgando además los datos de la cuenta
        bancaria para el abono del 50% requerido para el concreción de la reserva, después de lo cual el
        cliente tiene un determinado plazo para realizar el abono antes de que vuelva a liberarse la
        disponibilidad consultada
        </p>
        <br>
        <br>
        <h7>B.- ABONO</h7>
        <p>1. Para que la solicitud de fecha o programa sea procesada por Vortice Chile, el solicitante ha de
            generar un depósito del 50% de la cotización entregada, que se descontarán del precio total del
            programa. Vortice Chile no acepta ninguna solicitud sin la confirmación del pago de este
            depósito. Este depósito no es reembolsable salvo que, por cualquier circunstancia, Vortice Chile
            fuera incapaz de ofrecer al solicitante un servicio adecuado. En ese caso, éste recuperaría todo el
            dinero.
            Los datos para la reserva son los siguientes (transferencia o deposito)
            Razón Social: Sociedad comercial JyK limitada
            Rut: 76.287.939-5
            Banco: Estado
            Cuenta: Corriente
            Nº de cuenta corriente: 62500014585
            Mail de confirmación: info@vorticechile.com
            Mensaje: Abono 50% del programa “XXXXXXX, para N° Personas”, o, “N° Noches en domo XXXX”
            De igual forma es obligatorio enviar un aviso por email o wathsapp con el registro de la
            transferencia o el baucher del depósito según corresponda.
            Si el cliente es extranjero o prefiere el pago con tarjetas de crédito, contamos con sistema de
            pagos electrónicos via Pay Pal, el cual se realiza enviando un link certificado de pago
            Para cancelar la diferencia de los servicios se puede utilizar tarjetas de crédito, redcompra y
            efectivo una vez que llegues al establecimiento.
            El Chek In en domos es a partir de las 14:30 hrs y el Chek Out como máximo se realiza a las 11:30
            hrs. En caso de no haber reservas para el día siguiente, se puede pactar la extensión del chek out
            pagando una diferencia por hora extra. En el caso de cabañas o departamentos, el check in es a las
            15:30 hrs y el check out a las 12:30 hrs
            2.- Una vez en el establecimiento, el cliente debe pagar la diferencia del 50% restante del servicio
            cotizado (si corresponde), después de lo cual puede solicitar abrir cuenta para los complementos y
            consumos adicionales, todo lo cual puede ser cargado al final de su estadía para pago con tarjetas
            de crédito, débito o efectivo. 
        </p>
        <br>
        <br>
        <h7>C.- CANCELACIONES</h7>
        <p>La política de cancelaciones contempla la posibilidad de suspensión o postergación de una reserva.
            Todas las cancelaciones o postergaciones deberán solicitarse por escrito y ser enviadas vía correo
            electrónico al email info@vorticechile.com, teniéndose en cuenta las siguientes consideraciones:
            Si realiza su cancelación 15 días antes de su fecha de llegada se rembolsará el 100% del abono o
            se dejará éste como abono para su próxima estadía (en caso de postergación)
            Si realiza su cancelación de 7 a 14 días antes de su llegada, se rembolsará el 50% del abono o se
            dejará éste como abono para su próxima estadía (en caso de postergación)
            Si realiza su cancelación de 3 a 6 días antes de su llegada, no se rembolsará el 25% del abono
            hecho para reservar (se pierde), quedando el 75% restante como abono para la postergación de la
            reserva en una nueva fecha. En caso de no poder haber recandelarización de fechas por parte del
            cliente, el abono se pierde en su totalidad.
            Si realiza su cancelación de 0 a 2 días antes de su llegada, no se rembolsará el abono bajo ningún
            término.
            Políticas especiales para temporadas altas
            •Las cancelaciones en temporada alta (Navidad, Año Nuevo, Semana Santa, Semana de Pascua,
            Acción de Gracias, Vacaciones de verano y de invierno, fiestas patrias y festivos), producirán un
            cargo del monto total de la reservación, sin derecho a rembolso, a menos que la cancelación se
            realice en un plazo superior a 15 dias, casos donde puede aplicarse la repactación considerando el
            50% del abono como prepago para una nueva fecha.
            La salida prematura del hotel se tomará como cancelación y no habrá reembolsos. En el
            desafortunado caso de que un viajero enferme durante su estancia o se vea en la necesidad de
            recortar sus vacaciones son responsabilidad del pasajero.</p>
        
            <div class="social-bar">
                    <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"><img src="img/Facebook.png"></a>
                    <a href="https://twitter.com" class="icon icon-twitter" target="_blank"><img src="img/Twitter.png"></a>
                    <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"><img src="img/YouTube.png"></a>
                    <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"><img src="img/Instagram.png"></a>
            </div>
        

    </main>
    <a href="contacto.html" class="boton boton-naranja d-block">Llena el formulario de Contacto</a>
    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="catalogo.html">Catalogo</a>
                <a href="novedades.html">Novedades</a>
                <a href="contacto.html">Contacto</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2019 &copy; </p>
        </div>
    </footer>
</body>
</html>