{% load static %}

{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vandall Contacto</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <link rel="icon" href="{% static 'core\img/logoweb.png' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
</head>

<body>
    <h1>Crear</h1>
    <div class="card-body">
        <h4 class="card-title">Datos del auto </h4>
        {% include 'formulario.html' %}

    </div>
</body>

{% endblock %}
</html>