    <form enctype="multipart/form-data" method="POST"> 
        {% csrf_token %}
        
        {% for campo in formulario%}
            <!--{{ form.as_p }}-->
            <div>
                <label for="">{{ campo.label }}</label>
                <input type="{{ campo.field.widget.input_type }}"
                class="form-control" 
                name="{{ campo.name }}" 
                id="" 
                aria-describedby="helpId" 
                placeholder="{{campo.label}}"/>
            </div>
            
            <div class"col-12 help-text"> {{campo.errors}}</div>

        {% endfor %}

        <input type="submit" value="Enviar" class="boton boton-naranja d-block">

    </form>